---
const { lang, t } = Astro.props;
---
<button class="w-70 h-13 bg-blue-600 rounded border-2 border-white px-2 flex flex-nowrap justify-center md: mx-2" id="button2">
    <img src="/icons/steamIcon.svg" alt="Icono de Steam" class="w-8 h-8 my-auto border-t-lime-900"/>
    <a href="#" class=" text-white font-bold py-2 px-3 flex flex-nowrap justify-center items-center">
        {t('SteamBtn')}
    </a>
</button>