---
import { defaultLang } from '../i18n/ui';
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content={`0; url=/${defaultLang}/`} />
    <title>Redirigiendo...</title>
  </head>
  <body>
    <p>Redirigiendo a <code>/{defaultLang}</code>...</p>
  </body>
</html>