---
const { lang, t } = Astro.props;
import DownloadBtn from '../components/buttons/DownloadBtn.astro';
import SteamBtn from '../components/buttons/SteamBtn.astro';
---


<section class="relative h-11/12 w-full overflow-hidden">
  <!-- Fondo -->
  <div
    id="background"
    class="absolute inset-0 bg-cover bg-center transition-filter duration-300"
    style="background-image: url('/dropOfCafeBG.jpg');"
  ></div>

  <!-- Contenido encima -->
  <div class="relative h-full w-full flex flex-col place-content-between">
    <div class="m-0 p-0 w-fit flex flex-wrap">
      <h1 class="font-cheese text-8xl mx-10 my-20 stroke-text text-white z-10">Drop of Cafe</h1>
    </div>
    <div class="text-center text-white p-8 w-11/12 rounded-lg mb-5 flex justify-around md:justify-between md:w-1/2 mx-auto z-10">
      <DownloadBtn lang={lang} t={t} />
      <SteamBtn lang={lang} t={t} />
    </div>
  </div>
</section>

<script type="module" is:script>
  import { EfectoBlur } from '../assets/BlurDOM.js';

  document.addEventListener('DOMContentLoaded', () => {
    EfectoBlur();
  });
</script>
