---
import { languages, ui } from '../i18n/ui';
const { lang } = Astro.props;
---

<select onchange="location.href = this.value" class="bg-yellow-200 p-1 rounded-xl ml-2"
>
  {
    Object.entries(languages).map(([code, label]) => (
      <option
        value={`/${code}/`}
        selected={code === lang}
      >
        {label}
      </option>
    ))
  }
</select>