---
	import "../styles/global.css";
	import { getLangFromUrl } from '../i18n/utils';
	const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="m-0 p-0">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/coffeeIcon.svg" />
		<meta name="generator" content="Novela Visual por Pushtidarling" />
		<title>Drop of Cafe</title>
	</head>
	<body class="w-full h-screen m-0 p-0 bg-[#f7e8bf]">
		<slot />
	</body>
</html>
